
@{
    Layout = null;
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Electro Store Ecommerce Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Bootstrap css -->
    <link href="~/Assets/client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

    <!-- Creaditly css -->
    <link href="~/Assets/client/css/creditly.css" rel="stylesheet" />
    <!-- Easy Responsive tab css -->
    <link href="~/Assets/client/css/easy-responsive-tabs.css" rel="stylesheet" />
    <!-- Flexslider -->
    <link href="~/Assets/client/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/fontawesome-all.css">
    <!-- menu -->
    <link href="~/Assets/client/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="~/Assets/client/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- style css -->
    <link href="~/Assets/client/css/style.css" rel="stylesheet" type="text/css" media="all" />


    <!-- //Custom-Files -->
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //web fonts -->

</head>

<body>

    @{ Html.RenderAction("CategoriesHeader", "Home"); }
    @RenderBody()
    @{ Html.RenderAction("CategoriesFooter", "Home"); }

    <!-- js-files -->
    <!-- jquery -->
    <script src="~/Assets/client/js/jquery-2.2.3.min.js"></script>
    <!-- //jquery -->
    <!-- nav smooth scroll -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //nav smooth scroll -->
    <!-- popup modal (for location)-->
    <script src="~/Assets/client/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- //popup modal (for location)-->
    <!-- cart-js -->
    <script src="~/Assets/client/js/minicart.js"></script>
    <script>
        paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

        paypals.minicarts.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- password-script -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->
    <!-- scroll seller -->
    <script src="~/Assets/client/js/scroll.js"></script>
    <!-- //scroll seller -->
    <!-- smoothscroll -->
    <script src="~/Assets/client/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~/Assets/client/js/move-top.js"></script>
    <script src="~/Assets/client/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- easy-responsive-tabs -->
    <link rel="stylesheet" type="text/css" href="css/easy-responsive-tabs.css " />
    <script src="js/easyResponsiveTabs.js"></script>

    <script>
        $(document).ready(function () {
            //Horizontal Tab
            $('#parentHorizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: '33.33%', //auto or any width like 600px
                fit: true, // 100% fit in a container
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });
    </script>
    <!-- //easy-responsive-tabs -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- for bootstrap working -->
    <script src="~/Assets/client/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- creditly js -->
    <script src="~/Assets/client/js/creditly.js"></script>
    <!-- //creditly js -->
    <!-- creditly2 js -->
    <script src="~/Assets/client/js/creditly2.js"></script>
    <!-- //creditly2 js -->
    <!-- easyResponsiveTabs js -->
    <script src="~/Assets/client/js/easyResponsiveTabs.js"></script>
    <!-- //easyResponsiveTabs js -->
    <!-- imagezoom js -->
    <script src="~/Assets/client/js/imagezoom.js"></script>
    <!-- //imagezoom js -->
    <!-- flexslider js -->
    <script src="~/Assets/client/js/jquery.flexslider.js"></script>
    <!-- //flexslider js -->
    <!-- flexslider js -->
    <script src="~/Assets/client/js/SmoothScroll.min.js"></script>
    <!-- //flexslider js -->
    <!-- popup modal (for location)-->
    <script src="js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- //popup modal (for location)-->
    <!-- cart-js -->
    <script src="js/minicart.js"></script>
    <script>
        paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

        paypals.minicarts.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- quantity -->
    <script>
        $('.value-plus').on('click',
            function () {
                var divUpd = $(this).parent().find('.value'),
                    newVal = parseInt(divUpd.text(), 10) + 1;
                if (newVal >= 1) divUpd.text(newVal);
                var itemID = $(this).data("itemid");
                console.log(itemID);
                console.log(newVal);
                var formData = new FormData();
                formData.append("itemQty", newVal);
                formData.append("itemId", itemID);

                $.ajax({
                    async: true,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: formData,
                    url: '/Shopping/UpdateQuantity',
                    success: function (data) {
                        console.log(data.Success);
                        if (data.Success) {
                            $("#updateTotalItem").text(data.UpdateTotalItem + " VND");
                        }
                    },
                    error: function (xhr, error, status) {
                        alert(error, status);
                    }
                })
            }
        );

        $('.value-minus').on('click',
            function () {
                var divUpd = $(this).parent().find('.value'),
                    newVal = parseInt(divUpd.text(), 10) - 1;
                if (newVal >= 1) divUpd.text(newVal)
                else {
                    newVal = 1;
                    divUpd.text(newVal);
                }

                var itemID = $(this).data("itemid");
                console.log(itemID);
                console.log(newVal);
                var formData = new FormData();
                formData.append("itemQty", newVal);
                formData.append("itemId", itemID);

                $.ajax({
                    async: true,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: formData,
                    url: '/Shopping/UpdateQuantity',
                    success: function (data) {
                        console.log(data.Success);
                        if (data.Success) {
                            $("#updateTotalItem").text(data.UpdateTotalItem + " VND");
                        }
                    },
                    error: function (xhr, error, status) {
                        alert(error, status);
                    }
                })
            }
        );
    </script>
    <!--quantity-->
    @*<script>
        $(document).ready(function (c) {
            $('.close').on('click', function () {
                
                var itemID = $(this).data("itemid");
                console.log(itemID);
                console.log(newVal);
                var formData = new FormData();
                formData.append("itemQty", newVal);
                formData.append("itemId", itemID);

                $.ajax({
                    async: true,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: formData,
                    url: '/Shopping/UpdateQuantity',
                    success: function (data) {
                        console.log(data.Success);
                        if (data.Success) {
                            $("#updateTotalItem").text(data.UpdateTotalItem + " VND");
                        }
                    },
                    error: function (xhr, error, status) {
                        alert(error, status);
                    }
                })
            }

            });
        });
    </script>*@

    <!-- //quantity -->
    <!-- Add to cart (Categories) -->
    <script type="text/javascript">
        function AddToCart(item) {
            var itemID = $(item).attr("itemid");
            var formData = new FormData();
            formData.append("ItemID", itemID);


            $.ajax({
                async: true,
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                url: '/Shopping/Index',
                success: function (data) {
                    if (data.Success) {
                        $("#cartItem").text(" " + data.Counter);
                    }
                },
                error: function () {
                    alert("Something wrong, bro!");
                }
            });
        }
    </script>
    <!-- //Add to cart (Categories) -->
    <!-- Add to cart (ProductDetail) -->
    @*<script type="text/javascript">
        function AddToCart1(item) {
            var prodID = $(item).attr("itemid");
            var formData = new FormData();
            formData.append("ProdID", prodID);


            $.ajax({
                async: true,
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                url: '/Shopping/Index',
                success: function (data) {
                    console.log(data.Success);
                    if (data.Success) {
                        $("#cartItem").text(" " + data.Counter);
                    }
                },
                error: function () {
                    alert("Something wrong, bro!");
                }
            })
        }
    </script>*@
    <!-- //Add to cart (ProductDetail) -->
    <!-- Add Order -->
    <script type="text/javascript">


    </script>
    <!-- //Add Order -->
    <!-- credit-card -->
    <script src="js/creditly.js"></script>
    <link rel="stylesheet" href="css/creditly.css" type="text/css" media="all" />
    <script>
        $(function () {
            var creditly = Creditly.initialize(
                '.creditly-wrapper .expiration-month-and-year',
                '.creditly-wrapper .credit-card-number',
                '.creditly-wrapper .security-code',
                '.creditly-wrapper .card-type');


            $(".creditly-card-form .submit").click(function (e) {
                e.preventDefault();
                var output = creditly.validate();
                if (output) {
                    // Your validated credit card output
                    console.log(output);
                }
            });
        });
    </script>
    <!-- //js-files -->
</body>

</html>
